/* UWIMBABAZI YVONNE  25/30770 */

body {
    font-family: Arial;
    background-color:grey;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
}

form {
    display: grid;
    gap: 10px;
}

input, select, button {
    padding: 8px;
}

button {
    background: rgb(20, 20, 20);
    color: white;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #161515;
    padding: 8px;
}


@media (max-width: 480px) {
    .container { padding: 20px; }
}


